.contact__container{
background-color: var(--color-bg1);
padding: 4rem ;
display: grid;
grid-template-columns: 40% 60%;
gap: 4rem;
height: 30rem;
margin: 7rem auto;
border-radius: 1rem;
}
.aside__img img{
     border-radius: 15px;
}
.contact__details li img{
     width: 24px;
}

.contact__social a img{
/* width: 34px; */
font-size: 34px;
text-align: center;
background-size: contain;
}

/* --------------aside--------------------- */
.contact__aside{
     background-color: var(--color-primary);
     padding: 3rem;
     border-radius: 1rem;
     position: relative;
     bottom: 10rem;
}

.aside__img{
     width: 12rem;
     margin-bottom: 2rem;
}

.contact__aside h2{
     text-align: left;
     margin-bottom: 1rem;
     /* margin-inline: 10px; */
     margin-top: 10px;
}

.contact__aside p{
     font-style: 0.9rem;
     margin-bottom: 2rem;
}

.contact__details li{
     display: grid;
     align-items: center;
     gap: 1rem;
     display: flex;
     margin-bottom: 1rem;
}
.contact__social{
     display: flex;
     gap: 0.8rem;
     margin-top: 3rem;
}

.contact__social a img{
     background-color: var(--color-bg2);
     padding: 0.5rem;
     border-radius: 50%;
     font-style: 0.9rem;
     transition: var(--transition);
}

.contact__social a:hover{
     background-color: transparent;
}

/* -------------form---------------- */

.contact__form{
     display: flex;
     flex-direction: column;
     gap: 1.2rem;
     margin-right: 4rem;
}

.form__name{
     display: flex;
     gap: 1.2rem;
}

.contact__form input{
     width: 50%;
}
input, textarea{
     width: 100%;
     padding: 1rem;
     background-color: var(--color-bg);
     color: var(--color-white);
}

.contact__form .btn{
     width: max-content;
     margin-top: 1rem;
     cursor: pointer;
}

/* ----------------------media for tablet------------------ */

@media screen and (max-width:1024px) {
     
     .contact__container{
          gap: 1.5rem;
          margin-top: 3rem;
          height: auto;
          padding: 1.5rem;
     }

     .contact__aside{
          width: auto;
          padding: 1.5rem;
          bottom: 0;
     }

     .contact__form{
          align-self: center;
          margin-right: 1.5rem;
     }
}


/* ----------------------media for mobile------------------ */
@media screen and (max-width:600px) {
     .contact__container{
          grid-template-columns: 1fr;
          gap: 3rem;
          margin-top: 0;
          padding: 0;
     }

     .contact__form{
          margin: 0 1.5rem 3rem;
     }
     .form__name{
          flex-direction: column;
     }
     .form__name input [type="text"]{
          width: 100%;
     }

}



/* 
--color-primary:#6c63ff;
--color-success:#00bf8e;
--color-warning:#f7c94b;
--color-danger:#f75842;
--color-danger-variant:rgba(247,88,66,0.4);
--color-white:#fff;
--color-light:rgba(255,255,255,0.7);
--color-black:#000;
--color-bg:#1f2641;
--color-bg1:#2e3267;
--color-bg2:#424890; */